.advantages {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $desktop-width) {
    border: none;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.advantages__title {
  @include heading;
  margin: 0;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    @include heading-tablet;
    margin: 0;
    margin-bottom: 32px;
  }
}

.advantages__wrapper {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding: 13px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    padding-bottom: 69px;
  }
}

.advantages__list {
  @include list-none;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    counter-reset: number;
    justify-content: space-between;
    margin-right: 75px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.advantages__item {
  margin-bottom: 26px;
  padding-left: 80px;
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $basic-background;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    counter-increment: number;
    padding: 151px 0 57px;
    margin-bottom: 37px;
    display: block;

    &::after {
      top: 40px;
      width: 80px;
      height: 80px;
    }

    &::before {
      position: absolute;
      content: counter(number);
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      color: $color-background;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.advantages__item:last-child {
  @media (max-width: $mobile-width) {
    margin-bottom: 53px;
  }
}

.advantages__item-icon {
  position: absolute;
  top: 12px;
  left: 16px;

  @media (min-width: $tablet-width) {
    top: 64px;
    left: 27px;
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  margin: 0;
  max-width: 250px;

  @media (min-width: $tablet-width) {
    @include cover-text;
    line-height: 24px;
    color: #000000;
    min-width: 230px;
  }
}
