.card-list__item {
  @include card-text;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card-list__item--caption {
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 40px;
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.card-list__caption {
  line-height: 18px;
}

// .card-list__name {
//   display: block;
//   margin: 0;
//   padding: 0;
// }
