.check {
  @include list-none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.check__item {
  margin: 13px 0;
}

.check__mark {
  @include text;

  @media (min-width: $tablet-width) {
    @include tablet-text;
    line-height: 30px;
  }
}
