.check {
  @include list-none;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.check__field {
  position: relative;
  display: block;
  padding-left: 44px;
  cursor: pointer;
}

.check__mark {
  @include text;

  &::after {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 26px;
    height: 26px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    @include tablet-text;
    line-height: 30px;

    &::after {
      top: 2px;
    }
  }
}

.check__input[type="checkbox"]:checked + .check__mark::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  top: 2px;
  left: 4px;
  background: url("../img/check.svg") no-repeat;

  @media (min-width: $tablet-width) {
    top: 6px;
  }
}

.check__field:hover .check__mark::after {
  border-color: #bababa;
}

.check__input:disabled + .check__mark {
  opacity: 0.3;
  cursor: no-drop;
}

.check__item {
  margin: 22px 0;
}
