.check {
  @include list-none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.check__field {
  position: relative;
  display: block;
  padding-left: 44px;
}

.check__tick {
  position: absolute;
  top: -5px;
  left: 0;
  width: 26px;
  height: 26px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    top: 2px;
  }
}

.check__input[type="checkbox"]:checked + .check__tick::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  top: 5px;
  left: 4px;
  background: url("../img/check.svg") no-repeat;
}

.check__item {
  margin: 13px 0;
}

.check__mark {
  @include text;

  @media (min-width: $tablet-width) {
    @include tablet-text;
    line-height: 30px;
  }
}
