.contacts__wrapper {
  padding: 26px 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  background-color: #ffffff;
}

.contacts__message {
  display: block;
  width: 139px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    @include form-title;
    font-size: 20px;
  }
}

.contacts__text-wrapper {
  font-family: "Arial", sans-serif;
  width: 139px;
  color: #444444;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    @include cover-text;
    color: #000000;
  }
}

.contacts__text,
.contacts__text-town {
  margin: 0;
  padding: 0;
}
