.control {
  @include list-none;
  position: relative;
  margin-bottom: 26px;

  @media (max-width: $mobile-width) {
    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 320px;
      top: 0;
      left: -20px;
      background-color: #e7e7e7;
    }

    &::before {
      top: 157px;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 25px 0 2px 27px;
    margin-top: 72px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 33px 0 2px 28px;
  }
}

.control__field {
  position: relative;
  display: block;
  padding-left: 44px;
  cursor: pointer;
}

.control__mark {
  @include text;
  color: #222222;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: -3px;
    left: -40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    @include tablet-text;
    color: #222222;
    line-height: 30px;

    &::after {
      top: 0;
    }
  }
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 5px;
  left: -32px;
  background-color: $basic-background;

  @media (min-width: $tablet-width) {
    top: 8px;
  }
}

.control__field:hover .control__mark::after {
  border-color: #bababa;
}

.control__input:disabled + .control__mark {
  opacity: 0.3;
  cursor: no-drop;
}

// .control__field:active .control__mark {

// }

.control__item {
  padding: 25px 0 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    padding: 0;
  }
}
