.control {
  @include list-none;

  @media (min-width: $tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 7px 0;
  }
}

.control__item {
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    margin: 23px;
  }
}

.control__mark {
  @include text;
}
