.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include cover-text;
  display: block;
  color: #444444;
  line-height: 18px;
  margin-right: 22px;
}

.copyright__network {
  fill: #666666;
}

.copyright__link:hover .copyright__network {
  fill: $basic-background;
}
