.cover {
  @include cover-text;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/catalog/background-catalog.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 280px;
  height: 290px;
  margin-left: 20px;

  @media (min-width: $tablet-width) and (max-width: 1200px) {
    display: flex;
  }
}

.cover__message {
  display: block;
  text-align: center;
  margin: 0;
  padding: 186px 61px 43px 58px;
}
