.cover {
  @include cover-text;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/background-catalog.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 280px;
  height: 290px;
  margin: 0;
  padding: 58px 58px 0;
  margin-bottom: 35px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/background-catalog@2x.png");
  }

  @media (min-width: $tablet-width) and (max-width: 1200px) {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/background-catalog-tablet.png");
    background-size: 100%;
    display: flex;
    // padding: 0;
    padding: 0 124px 0 77px;
    justify-content: space-between;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/background-catalog-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 58px 39px 0;
  }
}

.cover-image {
  display: block;
  margin-left: 40px;

  @media (min-width: $tablet-width) and (max-width: 1200px) {
    align-self: center;
    margin: 0;
    padding: 0;
    // width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 47px;
  }
}

.cover__message {
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 45px;

  @media (min-width: $tablet-width) and (max-width: 1200px) {
    padding: 0;
    margin-top: 71px;
    width: 161px;
    text-align: left;
  }
}
