.main-header {
  display: flex;
  // justify-content: space-between;
  // width: 320px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 20px 17px;
}


