.main-header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0 20px;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 708px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1220px;
  }
}

.main-header__logo {
  display: block;
  padding-top: 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.main-header__logo img {
  display: block;
  position: relative;
}

.main-header__logo[href]:hover {
  opacity: 0.8;

  &:active {
    opacity: 0.6;
  }
}
