.main-inner {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    overflow-x: hidden;
  }
}

.main-inner__title {
  @include heading;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 41px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    @include heading-tablet;
    padding: 65px 0 82px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 84px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
