.main-footer {
  background-color: $color-background;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    min-width: 100%;
  }
}

.main-footer__footer {
  background-color: #f2f2f2;
  margin: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    padding: 58px 0 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 57px 110px;
    max-width: 1440px;
  }
}

.main-footer__logo {
  padding: 39px 0 32px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-footer__logo-link {
  display: block;
  // cursor: pointer;
}

.main-footer__logo-link[href] {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
