.main-inner__title {
  @include heading;
  line-height: 36px;
  margin: 27px 20px 60px;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}
