.product-card {
  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 110px;
  }
}

.product-card__list {
  @include list-none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.product-card__list-inner {
  @include list-none;

  @media (max-width: $mobile-width) {
    grid-column: 2/4;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.product-card__list-inner--all {
  margin-bottom: 20px;
}

.product-card__item {
  padding: 17px 20px 28px;
  margin: 0;
  border-bottom: 1px solid #ebebeb;

  @media (max-width: $mobile-width) {
    display: grid;
    grid-template-columns: 1fr 76px 64px;
  }

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, #ffffff 82px, $color-background 82px, $color-background);
    border: none;
    padding: 4px 36px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 40px;
  }
}

.product-card__item:last-child {
  @media (max-width: $mobile-width) {
    padding: 0 20px 28px;
    display: block;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 0;
  }
}

.product-card__item--all {
  padding-top: 76px;

  @media (min-width: $tablet-width) {
    border: 2px solid $color-background;
    padding: 0 30px 40px;
    position: relative;
    top: 84px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 40px;
  }
}

.product-card__image-wrapper {
  @media (max-width: $mobile-width) {
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    min-height: 112px;
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
    min-height: 196px;
  }
}

.product-card__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.product-card__name {
  @include text;
  line-height: 20px;
  color: #222222;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include tablet-text;
    line-height: 24px;
    text-align: center;
    margin: 34px 51px 21px 42px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    margin: 0;
    margin-bottom: 22px;
  }
}

.product-card__name-last {
  margin-bottom: 6px;
  text-align: center;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: -39px;
    left: 125px;
    background-color: #d3d3d3;
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }

  @media (min-width: $tablet-width) {
    margin: 161px 42px 23px;

    &::before,
    &::after {
      width: 60px;
      top: -52px;
      left: 52px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 161px 22px 23px;

    &::before,
    &::after {
      width: 60px;
      top: -65px;
      left: 40px;
    }
  }
}

.product-card__button {
  @include cover-text;
  font-family: "Oswald", sans-serif;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 109px;
  text-align: center;
  background-color: $basic-background;
  margin-top: 11px;

  @media (max-width: $mobile-width) {
    grid-column: 1/4;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 93px;
    align-items: flex-end;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px;
  }

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    @include button-active;
  }
}

.product-card__button--all {
  padding: 10px 94px;
  color: #444444;
  background-color: $color-background;

  @media (min-width: $tablet-width) {
    padding: 10px 79px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 39px;
    margin: 0;
  }

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
    text-shadow: none;
  }
}
