.program {
  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}

.program__header {
  background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/background-cat-green.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 320px;
  height: 302px;
  margin-bottom: 176px;
  background-color: #68b738d9;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/background-cat-green@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    background: none;
    padding-left: 117px;
    margin: 0;
    min-height: 812px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 190px;
    padding-top: 111px;
    min-height: 664px;

    & ::before {
      position: absolute;
      content: "";
      top: -112px;
      right: 0;
      width: 720px;
      height: 694px;
      background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/background-desktop.png");
      background-color: #68b738d9;
      background-repeat: no-repeat;
    }

    @media (min-resolution: 2dppx) {
      & ::before {
        background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/background-desktop@2x.png");
        background-size: cover;
      }
    }
  }
}

.program__title {
  @include heading;
  color: #ffffff;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 27px 35px 25px;

  @media (min-width: $tablet-width) {
    @include heading-tablet;
    min-width: 708px;
    color: #000000;
    margin: 62px 0 41px 0;
    padding: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 41px;
  }
}

.program__slogan {
  font-family: "Oswald", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 49px;
    padding: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.program__image {
  display: block;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    left: 4%;
    top: 342px;
    margin: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 28px;
    left: auto;
    right: 330px;
    z-index: 2;
  }
}

.program__button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 44px;
  text-align: center;
  background-color: $basic-background;
  margin: 3px 20px 0;

  @media (min-width: $tablet-width) {
    @include tablet-text;
    color: #ffffff;
    padding: 17px 27px;
    margin: 0;
    width: 244px;
  }

  @media (min-width: $desktop-width) {
    @include tablet-text;
    color: #ffffff;
    padding: 14px 26px;
    width: 244px;
    margin: 0;
  }

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    @include button-active;
  }
}

.program__catalog {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.program__inner {
  padding: 20px 0 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 110px 60px;
  }
}
