.social {
  display: flex;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__list {
  @include list-none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-width: 132px;
  padding: 20px 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

// .social__link {

// }

.social__network {
  align-items: flex-end;
  fill: #666666;
}

.social__network:hover {
  fill: $basic-background;
}

.social__network:active {
  fill: $basic-background;
  opacity: 0.3;
}
